[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
requests= "*"
beautifulsoup4 = "*"
lxml = "*"
PyYAML = "*"
wikipedia = "*"
APScheduler = "*"
redis = "*"
pymongo = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.7"
