body {
    font-family: Garamond;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 60px;
}

#userBox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 60px;
}

#textInput {
    border: none;
    border-bottom: 3px solid #009688;
    font-size: 17px;
    width: 100%;
}

.userText {
    text-align: right;
    font-size: 17px;
}

.userText span {
    font-size: 17px;
}

.botText {
    text-align: left;
    font-size: 17px;
}

.botText span {
    font-size: 17px;
}

