<!doctype html>
<html lang="pt-br">

<head>
    <!--<link rel="stylesheet" type="text/css" href="/static/style.css" >-->
    <link rel="stylesheet" type="text/css" href="/static/style_novo.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <center>
        <h3>ARI - Um chatbot que conversa sobre depressão</h3>
        <div id="chatbox" >
            <p class="botText"><span>Ari: Se quiser iniciar o flow digite 'iniciar perfil'. </span></p>
        </div>
        <div id="userBox">
            <input type="hidden" id="sessionid" name="sessionid"/>
            <input id="textInput" type="text" name="msg" placeholder="Escreva aqui" />

        </div>
    </center>
</div>
    <script>
        function getBotResponse() {
            var rawText = $("#textInput").val();
            var userHtml = '<p class="userText"><span>User: ' + rawText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            document.getElementById('userBox').scrollIntoView({block: 'start', behavior: 'smooth'});
            $.get("/get", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>Ari: '+ data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userBox').scrollIntoView({block: 'start', behavior: 'smooth'})
            });
        }
        $("#textInput").keypress(function(e) {
            if (e.which == 13) {
                getBotResponse();
            }
        });

    </script>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>